<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.
 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
using System;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Http.Features;
using Microsoft.Extensions.Options;

namespace <%= namespace %>.Test.Setup {
    public class MockHttpContextFactory : IHttpContextFactory {
        private readonly DefaultHttpContextFactory _delegate;
        private readonly MockClaimsPrincipalProvider _mockClaimsPrincipalProvider;

        public MockHttpContextFactory(IOptions<FormOptions> formOptions,
            MockClaimsPrincipalProvider mockClaimsPrincipalProvider, IServiceProvider serviceProvider)
        {
            _delegate = new DefaultHttpContextFactory(serviceProvider);
            _mockClaimsPrincipalProvider = mockClaimsPrincipalProvider;
        }

        public MockHttpContextFactory(IOptions<FormOptions> formOptions, IHttpContextAccessor httpContextAccessor,
            MockClaimsPrincipalProvider mockClaimsPrincipalProvider, IServiceProvider serviceProvider)
        {
            _delegate = new DefaultHttpContextFactory(serviceProvider);
            _mockClaimsPrincipalProvider = mockClaimsPrincipalProvider;
        }

        public HttpContext Create(IFeatureCollection featureCollection)
        {
            var httpContext = _delegate.Create(featureCollection);
            httpContext.User = _mockClaimsPrincipalProvider.User;
            return httpContext;
        }

        public void Dispose(HttpContext httpContext)
        {
            _delegate.Dispose(httpContext);
        }
    }
}
