<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<%_ function defaultValue(cSharpType) {
    let defaultValue;
    const defaultNumValue = 1;

    switch (cSharpType) {
        case 'string' :
            defaultValue = "\"AAAAAAAAAA\"";
            break;
        case 'int?' :
            defaultValue = `${defaultNumValue}`;
            break;
        case 'long?' :
            defaultValue = `${defaultNumValue}L`;
            break;
        case 'float?' :
            defaultValue = `${defaultNumValue}F`;
            break;
        case 'double?' :
            defaultValue = `${defaultNumValue}D`;
            break;
        case 'decimal?' :
            defaultValue = `${defaultNumValue}M`;
            break;
        case 'DateTime?' :
            defaultValue = "DateTime.UnixEpoch";
            break;
        case 'bool?' :
            defaultValue = "false";
            break;
    }

    return defaultValue;
}
function updatedValue(cSharpType) {
    let updatedValue;
    const updatedNumValue = 2;

    switch (cSharpType) {
        case 'string' :
            updatedValue = "\"BBBBBBBBBB\"";
            break;
        case 'int?' :
            updatedValue = `${updatedNumValue}`;
            break;
        case 'long?' :
            updatedValue = `${updatedNumValue}L`;
            break;
        case 'float?' :
            updatedValue = `${updatedNumValue}F`;
            break;
        case 'double?' :
            updatedValue = `${updatedNumValue}D`;
            break;
        case 'decimal?' :
            updatedValue = `${updatedNumValue}M`;
            break;
        case 'DateTime?' :
            updatedValue = "DateTime.Now";
            break;
        case 'bool?' :
            updatedValue = "true";
            break;
    }

    return updatedValue;
}
function hasDateTimeTypeField() {
    let dateTimeTypeField = false;
    let idx = 0;
    while (idx < fields.length && !dateTimeTypeField) {
        if (fields[idx].fieldType === 'LocalDate') {
            dateTimeTypeField = true;
        }
        idx ++;
    }
    return dateTimeTypeField;
}
if (hasDateTimeTypeField()) { _%>
using System;
<%_ } _%>
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Threading.Tasks;
using FluentAssertions;
using <%= namespace %>.Data;
using <%= namespace %>.Models;
using <%= namespace %>.Test.Setup;
using Microsoft.EntityFrameworkCore;
using Newtonsoft.Json.Linq;
using Xunit;

namespace <%= namespace %>.Test.Controllers {
    public class <%= pascalizedEntityClass %>ResourceIntTest {
        public <%= pascalizedEntityClass %>ResourceIntTest()
        {
            _factory = new NhipsterWebApplicationFactory<Startup>();
            _client = _factory.CreateClient();

            _applicationDatabaseContext = _factory.GetRequiredService<ApplicationDatabaseContext>();

            InitTest();
        }

        <%_ fields.forEach(field => {
            const fieldType = equivalentCSharpType(field.fieldType);
            if (field.fieldType === 'String') { _%>
        private const <%= fieldType %> Default<%= field.fieldNamePascalized %> = <%- defaultValue(fieldType) %>;
        private const <%= fieldType %> Updated<%= field.fieldNamePascalized %> = <%- updatedValue(fieldType) %>;
            <%_ } else { _%>
        private static readonly <%= fieldType %> Default<%= field.fieldNamePascalized %> = <%- defaultValue(fieldType) %>;
        private static readonly <%= fieldType %> Updated<%= field.fieldNamePascalized %> = <%- updatedValue(fieldType) %>;
            <%_ } _%>

        <%_ }); _%>
        private readonly NhipsterWebApplicationFactory<Startup> _factory;
        private readonly HttpClient _client;

        private readonly ApplicationDatabaseContext _applicationDatabaseContext;

        private <%= pascalizedEntityClass %> _<%= camelCasedEntityClass %>;

        private <%= pascalizedEntityClass %> CreateEntity()
        {
            return new <%= pascalizedEntityClass %> {
                <%_ let i = 0;
                if (fields.length != 0) {
                    while (i < fields.length - 1) { _%>
                <%= fields[i].fieldNamePascalized %> = Default<%= fields[i].fieldNamePascalized %>,
                        <%_ i ++;
                    } _%>
                <%= fields[i].fieldNamePascalized %> = Default<%= fields[i].fieldNamePascalized %>
                <%_ }_%>
            };
        }

        private void InitTest()
        {
            _<%= camelCasedEntityClass %> = CreateEntity();
        }

        [Fact]
        public async Task Create<%= pascalizedEntityClass %>()
        {
            var databaseSizeBeforeCreate = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Count();

            // Create the <%= pascalizedEntityClass %>
            var response = await _client.PostAsync("/api/<%= kebabCasedEntityClassPlural %>", TestUtil.ToJsonContent(_<%= camelCasedEntityClass %>));
            response.StatusCode.Should().Be(HttpStatusCode.Created);

            // Validate the <%= pascalizedEntityClass %> in the database
            var <%= camelCasedEntityClass %>List = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.ToList();
            <%= camelCasedEntityClass %>List.Count().Should().Be(databaseSizeBeforeCreate + 1);
            var test<%= pascalizedEntityClass %> = <%= camelCasedEntityClass %>List[<%= camelCasedEntityClass %>List.Count - 1];
            <%_ fields.forEach(field => { _%>
            test<%= pascalizedEntityClass %>.<%= field.fieldNamePascalized %>.Should().Be(Default<%= field.fieldNamePascalized %>);
            <%_ }); _%>
        }

        [Fact]
        public async Task Create<%= pascalizedEntityClass %>WithExistingId()
        {
            var databaseSizeBeforeCreate = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Count();
            databaseSizeBeforeCreate.Should().Be(0);
            // Create the <%= pascalizedEntityClass %> with an existing ID
            _<%= camelCasedEntityClass %>.Id = 1L;

            // An entity with an existing ID cannot be created, so this API call must fail
            var response = await _client.PostAsync("/api/<%= kebabCasedEntityClassPlural %>", TestUtil.ToJsonContent(_<%= camelCasedEntityClass %>));
            response.StatusCode.Should().Be(HttpStatusCode.BadRequest);

            // Validate the <%= pascalizedEntityClass %> in the database
            var <%= camelCasedEntityClass %>List = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.ToList();
            <%= camelCasedEntityClass %>List.Count().Should().Be(databaseSizeBeforeCreate);
        }

        <%_ fields.forEach(field => {
            let required = false;
            if (field.fieldValidate === true) {
                if (field.fieldValidateRules.includes('required')) {
                    required = true;
                }
            }
            if (required) { _%>
        [Fact]
        public async Task Check<%= field.fieldNamePascalized %>IsRequired()
        {
            var databaseSizeBeforeTest = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Count();

            // Set the field to null
            _<%= camelCasedEntityClass %>.<%= field.fieldNamePascalized %> = null;

            // Create the <%= pascalizedEntityClass %>, which fails.
            var response = await _client.PostAsync("/api/<%= kebabCasedEntityClassPlural %>", TestUtil.ToJsonContent(_<%= camelCasedEntityClass %>));
            response.StatusCode.Should().Be(HttpStatusCode.BadRequest);

            var <%= camelCasedEntityClass %>List = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.ToList();
            <%= camelCasedEntityClass %>List.Count().Should().Be(databaseSizeBeforeTest);
        }

        <%_ }
        }); _%>
        [Fact]
        public async Task GetAll<%= pascalizedEntityClassPlural %>()
        {
            // Initialize the database
            _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Add(_<%= camelCasedEntityClass %>);
            await _applicationDatabaseContext.SaveChangesAsync();

            // Get all the <%= camelCasedEntityClass %>List
            var response = await _client.GetAsync("/api/<%= kebabCasedEntityClassPlural %>?sort=id,desc");
            response.StatusCode.Should().Be(HttpStatusCode.OK);

            var json = JToken.Parse(await response.Content.ReadAsStringAsync());
            json.SelectTokens("$.[*].id").Should().Contain(_<%= camelCasedEntityClass %>.Id);
            <%_ fields.forEach(field => { _%>
            json.SelectTokens("$.[*].<%= field.fieldNameCamelCased %>").Should().Contain(Default<%= field.fieldNamePascalized %>);
            <%_ }); _%>
        }

        [Fact]
        public async Task Get<%= pascalizedEntityClass %>()
        {
            // Initialize the database
            _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Add(_<%= camelCasedEntityClass %>);
            await _applicationDatabaseContext.SaveChangesAsync();

            // Get the <%= camelCasedEntityClass %>
            var response = await _client.GetAsync($"/api/<%= kebabCasedEntityClassPlural %>/{_<%= camelCasedEntityClass %>.Id}");
            response.StatusCode.Should().Be(HttpStatusCode.OK);

            var json = JToken.Parse(await response.Content.ReadAsStringAsync());
            json.SelectTokens("$.id").Should().Contain(_<%= camelCasedEntityClass %>.Id);
            <%_ fields.forEach(field => { _%>
            json.SelectTokens("$.<%= field.fieldNameCamelCased %>").Should().Contain(Default<%= field.fieldNamePascalized %>);
            <%_ }); _%>
        }

        [Fact]
        public async Task GetNonExisting<%= pascalizedEntityClass %>()
        {
            var response = await _client.GetAsync("/api/<%= kebabCasedEntityClassPlural %>/" + long.MaxValue);
            response.StatusCode.Should().Be(HttpStatusCode.NotFound);
        }

        [Fact]
        public async Task Update<%= pascalizedEntityClass %>()
        {
            // Initialize the database
            _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Add(_<%= camelCasedEntityClass %>);
            await _applicationDatabaseContext.SaveChangesAsync();

            var databaseSizeBeforeUpdate = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Count();

            // Update the <%= camelCasedEntityClass %>
            var updated<%= pascalizedEntityClass %> =
                await _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.SingleOrDefaultAsync(it => it.Id == _<%= camelCasedEntityClass %>.Id);
            // Disconnect from session so that the updates on updated<%= pascalizedEntityClass %> are not directly saved in db
//TODO detach
            <%_ fields.forEach(field => { _%>
            updated<%= pascalizedEntityClass %>.<%= field.fieldNamePascalized %> = Updated<%= field.fieldNamePascalized %>;
            <%_ }); _%>

            var response = await _client.PutAsync("/api/<%= kebabCasedEntityClassPlural %>", TestUtil.ToJsonContent(updated<%= pascalizedEntityClass %>));
            response.StatusCode.Should().Be(HttpStatusCode.OK);

            // Validate the <%= pascalizedEntityClass %> in the database
            var <%= camelCasedEntityClass %>List = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.ToList();
            <%= camelCasedEntityClass %>List.Count().Should().Be(databaseSizeBeforeUpdate);
            var test<%= pascalizedEntityClass %> = <%= camelCasedEntityClass %>List[<%= camelCasedEntityClass %>List.Count - 1];
            <%_ fields.forEach(field => { _%>
            test<%= pascalizedEntityClass %>.<%= field.fieldNamePascalized %>.Should().Be(Updated<%= field.fieldNamePascalized %>);
            <%_ }); _%>
        }

        [Fact]
        public async Task UpdateNonExisting<%= pascalizedEntityClass %>()
        {
            var databaseSizeBeforeUpdate = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Count();

            // If the entity doesn't have an ID, it will throw BadRequestAlertException
            var response = await _client.PutAsync("/api/<%= kebabCasedEntityClassPlural %>", TestUtil.ToJsonContent(_<%= camelCasedEntityClass %>));
            response.StatusCode.Should().Be(HttpStatusCode.BadRequest);

            // Validate the <%= pascalizedEntityClass %> in the database
            var <%= camelCasedEntityClass %>List = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.ToList();
            <%= camelCasedEntityClass %>List.Count().Should().Be(databaseSizeBeforeUpdate);
        }

        [Fact]
        public async Task Delete<%= pascalizedEntityClass %>()
        {
            // Initialize the database
            _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Add(_<%= camelCasedEntityClass %>);
            await _applicationDatabaseContext.SaveChangesAsync();

            var databaseSizeBeforeDelete = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.Count();

            var response = await _client.DeleteAsync($"/api/<%= kebabCasedEntityClassPlural %>/{_<%= camelCasedEntityClass %>.Id}");
            response.StatusCode.Should().Be(HttpStatusCode.OK);

            // Validate the database is empty
            var <%= camelCasedEntityClass %>List = _applicationDatabaseContext.<%= pascalizedEntityClassPlural %>.ToList();
            <%= camelCasedEntityClass %>List.Count().Should().Be(databaseSizeBeforeDelete - 1);
        }

        [Fact]
        public void EqualsVerifier()
        {
            TestUtil.EqualsVerifier(typeof(<%= pascalizedEntityClass %>));
            var <%= camelCasedEntityClass %>1 = new <%= pascalizedEntityClass %> {
                Id = 1L
            };
            var <%= camelCasedEntityClass %>2 = new <%= pascalizedEntityClass %> {
                Id = <%= camelCasedEntityClass %>1.Id
            };
            <%= camelCasedEntityClass %>1.Should().Be(<%= camelCasedEntityClass %>2);
            <%= camelCasedEntityClass %>2.Id = 2L;
            <%= camelCasedEntityClass %>1.Should().NotBe(<%= camelCasedEntityClass %>2);
            <%= camelCasedEntityClass %>1.Id = 0;
            <%= camelCasedEntityClass %>1.Should().NotBe(<%= camelCasedEntityClass %>2);
        }
    }
}
