<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.
 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<Project Sdk="Microsoft.NET.Sdk.Web">

    <PropertyGroup>
        <AssemblyName><%= dasherizedBaseName %></AssemblyName>
        <Version>0.0.1</Version>
        <TargetFramework>netcoreapp3.0</TargetFramework>
        <LangVersion>latest</LangVersion>
        <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
        <RootNamespace><%= namespace %></RootNamespace>
        <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
        <TypeScriptToolsVersion>Latest</TypeScriptToolsVersion>
        <IsPackable>false</IsPackable>
<%_ if(!skipClient) { _%>
        <SpaRoot>ClientApp\</SpaRoot>
<%_ } _%>
        <DefaultItemExcludes>$(DefaultItemExcludes);$(SpaRoot)node_modules\**</DefaultItemExcludes>

        <!-- Set this to true if you enable server-side prerendering -->
        <BuildServerSideRenderer>false</BuildServerSideRenderer>
    </PropertyGroup>

    <ItemGroup>
        <PackageReference Include="AutoMapper.Extensions.Microsoft.DependencyInjection" Version="6.0.0" />
        <PackageReference Include="Hellang.Middleware.ProblemDetails" Version="2.2.1" />
        <PackageReference Include="Microsoft.AspNetCore.Authentication.JwtBearer" Version="3.0.0" />
        <PackageReference Include="Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="3.0.0" />
        <PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.2.0" />
        <PackageReference Include="Microsoft.AspNetCore.Mvc.NewtonsoftJson" Version="3.0.0" />
        <PackageReference Include="Microsoft.EntityFrameworkCore" Version="3.0.0" />
        <PackageReference Include="Microsoft.EntityFrameworkCore.Sqlite" Version="3.0.0" />
        <PackageReference Include="Serilog.AspNetCore" Version="2.1.1" />
        <PackageReference Include="Serilog.Settings.Configuration" Version="3.0.1" />
        <PackageReference Include="Serilog.Sinks.Console" Version="3.1.1" />
        <PackageReference Include="Serilog.Enrichers.Process" Version="2.0.1" />
        <PackageReference Include="Serilog.Enrichers.Thread" Version="3.0.0" />
        <PackageReference Include="Swashbuckle.AspNetCore" Version="5.0.0-rc4" />
        <PackageReference Include="BCrypt.Net-Next" Version="3.1.3" />
        <PackageReference Include="LanguageExt.Core" Version="3.1.15" />
        <PackageReference Include="System.IdentityModel.Tokens.Jwt" Version="5.6.0" />
    </ItemGroup>

    <ItemGroup>
        <ProjectReference Include="..\JHipsterNet\JHipsterNet.csproj" />
    </ItemGroup>
<%_ if(!skipClient) { _%>
    <!-- https://stackoverflow.com/questions/46720148/exclude-wwwroot-dist-from-build-asp-net-dotnet-core-2-0 -->
    <ItemGroup>
        <!-- Don't publish the SPA source files, but do show them in the project files list -->
        <Content Remove="$(SpaRoot)**" />
        <None Remove="$(SpaRoot)**" />
        <None Include="$(SpaRoot)**" Exclude="$(SpaRoot)node_modules\**" />
    </ItemGroup>

    <Target Name="NpmInstall" BeforeTargets="Build" Condition=" '$(Configuration)' == 'Debug' And !Exists('node_modules') ">
        <!-- Ensure Node.js is installed -->
        <Exec Command="node --version" ContinueOnError="true">
            <Output TaskParameter="ExitCode" PropertyName="ErrorCode" />
        </Exec>
        <Error Condition="'$(ErrorCode)' != '0'" Text="Node.js is required to build and run this project. To continue, please install Node.js from https://nodejs.org/, and then restart your command prompt or IDE." />
        <Message Importance="high" Text="Restoring dependencies using 'npm'. This may take several minutes..." />
        <Exec Command="npm install" />
    </Target>

    <Target Name="RunWebPack" BeforeTargets="Build" DependsOnTargets="NpmInstall">
        <Exec Command="npm run webpack:build" Condition="'$(Configuration)'=='Debug'" />
        <Exec Command="npm run webpack:prod" Condition="'$(Configuration)'=='Release'" />
    </Target>

    <ProjectExtensions><VisualStudio><UserProperties appsettings_1json__JsonSchema="" /></VisualStudio></ProjectExtensions>

    <!--<Target Name="PublishRunWebpack" DependsOnTargets="RunWebPack" AfterTargets="ComputeFilesToPublish">-->
    <!--&lt;!&ndash; Include the newly-built files in the publish output &ndash;&gt;-->
    <!--<ItemGroup>-->
    <!--<DistFiles Include="$(SpaRoot)dist\**; $(SpaRoot)dist-server\**" />-->
    <!--<DistFiles Include="$(SpaRoot)node_modules\**" Condition="'$(BuildServerSideRenderer)' == 'true'" />-->
    <!--<ResolvedFileToPublish Include="@(DistFiles->'%(FullPath)')" Exclude="@(ResolvedFileToPublish)">-->
    <!--<RelativePath>%(DistFiles.Identity)</RelativePath>-->
    <!--<CopyToPublishDirectory>PreserveNewest</CopyToPublishDirectory>-->
    <!--</ResolvedFileToPublish>-->
    <!--</ItemGroup>-->
    <!--</Target>-->
<%_ } _%>

</Project>
